package models

import (
{{ range $key, $import := .Imports }}{{ $import }}
{{ end }}
)

type {{ .Model }}Items []*{{ .Model }}

// Collection of {{ .Model }}
type {{ .Model }}Collection struct {
    collection {{ .Model }}Items
    {{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }} {{ $column.ModelName }}s []{{ $column.ModelType }} {{ end }}
    {{ end }}
    e          porterr.IError
    q          godb.Queryer
    current    int
    count      int
    *godb.SqlFilter
}

// Get first item of {{ .Model }} Collection
func (c {{ .Model }}Collection) First() *{{ .Model }} {
    if len(c.collection) > 0 {
        return c.collection[0]
    }
    return nil
}

// Get last item of {{ .Model }} Collection
func (c *{{ .Model }}Collection) Last() *{{ .Model }} {
    if c.count > 0 {
        return c.collection[c.count-1]
    }
    return nil
}

// Iterator next
func (c *{{ .Model }}Collection) Next() bool {
    if c.current >= c.count {
        c.current = 0
        return false
    }
    return true
}

// Load collection
func (c *{{ .Model }}Collection) Load() porterr.IError {
    c.collection, {{ $index := 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}c.{{ $column.ModelName }}s{{ end }}{{ end }}, c.e = c.fetch()
    if c.e != nil {
        return c.e
    }
    c.count = len(c.collection)
    return nil
}

// Reset cursor
func (c *{{ .Model }}Collection) ResetCursor() *{{ .Model }}Collection {
    c.current = 0
    return c
}

// Get item
func (c *{{ .Model }}Collection) Item() (item *{{ .Model }}) {
    item = c.collection[c.current]
    c.current++
    return
}

// Get count
func (c *{{ .Model }}Collection) Count() int {
    return c.count
}

// Get all items
func (c *{{ .Model }}Collection) Items() {{ .Model }}Items {
    return c.collection
}

// Get error
func (c *{{ .Model }}Collection) GetError() porterr.IError {
    return c.e
}

// Fetch records
func (c *{{ .Model }}Collection) fetch() ({{ .Model }}Items, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}[]{{ $column.ModelType }}{{ end }}{{ end }}, porterr.IError) {
    query := fmt.Sprintf("SELECT " + strings.Join((&{{ .Model }}{}).Columns(), ",") + " FROM {{ .Table }} %s", c.GetWithWhere())
    rows, err := c.q.Query(query, c.GetArguments()...)
    {{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}
        entity{{ $column.ModelName }}s := make([]{{ $column.ModelType }}, 0){{ end }}{{ end }}
    if err != nil {
        return nil, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}entity{{ $column.ModelName }}s{{ end }}{{ end }}, porterr.New(porterr.PortErrorDatabaseQuery, "Search {{ .Model }} query error: "+err.Error())
    }
    defer rows.Close()
    var result {{ .Model }}Items
    for rows.Next() {
        model := &{{ .Model }}{}
        err = rows.Scan(model.Values()...)
        if err != nil {
            return result, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}entity{{ $column.ModelName }}s{{ end }}{{ end }}, porterr.New(porterr.PortErrorIO, "Search {{ .Model }} scan error: "+err.Error())
        }
        {{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}
            entity{{ $column.ModelName }}s = append(entity{{ $column.ModelName }}s, model.{{ $column.ModelName}}){{ end }}{{ end }}
        result = append(result, model)
    }
    return result, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}entity{{ $column.ModelName }}s{{ end }}{{ end }}, nil
}

// New {{ .Model }} Collection
func New{{ .Model }}Collection(q godb.Queryer) *{{ .Model }}Collection {
    return &{{ .Model }}Collection{
        collection: nil,
        SqlFilter:  godb.NewSqlFilter(),
        q:          q,
    }
}

// {{ .Model }} model
type {{ .Model }} struct { {{ range $key, $column := .Columns }}
    {{ $column.ModelName }} {{ $column.ModelType }} {{ $column.Json }} {{ if $column.Description }}// {{ $column.Description }}{{ end }}{{ end }}
}

// Model table name
func (m *{{ .Model }}) Table() string {
    return "{{ .Table }}"
}

// Model columns
func (m *{{ .Model }}) Columns() []string {
    return []string{ {{ range $key, $column := .Columns }}{{ if $key }}, {{ end }}"{{ $column.Name }}"{{ end }} }
}

// Model values
func (m *{{ .Model }}) Values() (values []interface{}) {
    return append(values, {{ range $key, $column := .Columns }}{{ if $key }}, {{ end }}{{ if $column.IsArray }}pq.Array({{ end }}&m.{{ $column.ModelName }}{{ if $column.IsArray  }}){{ end }}{{ end }})
}

// SQL load Query
func (m *{{ .Model }}) GetLoadQuery() string {
    return "SELECT " + strings.Join(m.Columns(), ",") + " FROM {{ .Table }} WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ $index }}{{ end }}{{ end }};"
}

// Load method
func (m *{{ .Model }}) Load(q godb.Queryer) (*{{ .Model }}, porterr.IError) {
    if {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
        err := q.QueryRow(m.GetLoadQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }}).Scan(m.Values()...)
        if err != nil {
            if err == sql.ErrNoRows {
                return nil, porterr.New(porterr.PortErrorSearch, "No {{ .Model }} found").HTTP(http.StatusNotFound)
            }
            return nil, porterr.New(porterr.PortErrorDatabaseQuery, "Load {{ .Model }} query error: "+err.Error())
        }
        return m, nil
    }
    return nil, porterr.New(porterr.PortErrorParam, "No primary key for {{ .Model }} specified, nothing for load").HTTP(http.StatusBadRequest)
}

{{ range $key, $column := .Columns }}{{ if $column.ForeignTable }}
    // Load Foreign Model {{ cameled $column.ForeignTable }}
    func (m *{{ $.Model }}) Get{{ cameled $column.ForeignTable }}(q godb.Queryer) (*{{ cameled $column.ForeignTable }}, porterr.IError) {
        return (&{{ cameled $column.ForeignTable }} { {{ cameled $column.ForeignColumnName}}:m.{{ $column.ModelName }} }).Load(q)
    }
{{ end }}{{ end }}

{{ range $key, $column := .Columns }}{{ if $column.IsDeleted }}
    // Soft load method
    func (m *{{ $.Model }}) SoftLoad(q godb.Queryer) (*{{ $.Model }}, porterr.IError) {
        loaded, e := m.Load(q)
        if e != nil {
            return nil, e
        }
        if loaded.{{ $column.ModelName }} != nil {
            return nil, porterr.New(porterr.PortErrorSearch, "{{ $.Model }} is deleted").HTTP(http.StatusNotFound)
        }
        return loaded, nil
    }

    // SQL Soft delete Query
    func (m *{{ $.Model }}) GetSoftDeleteQuery() string {
        return "UPDATE {{ $.Table }} SET {{ $column.Name }} = NOW() WHERE {{ $index = 0 }}{{ range $key, $col := $.Columns }}{{ if $col.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $col.Name }} = ${{$index}}{{ end }}{{ end }} RETURNING {{ $column.Name }};"
    }

    // Soft Delete {{ $.Model }}
    func (m *{{ $.Model }}) SoftDelete(q godb.Queryer) porterr.IError {
        err := q.QueryRow(m.GetSoftDeleteQuery(), {{ $index = 0 }}{{ range $key, $col := $.Columns  }}{{ if $col.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $col.ModelName }}{{ end }}{{ end }}).Scan(&m.{{ $column.ModelName }})
        if err != nil {
            return porterr.New(porterr.PortErrorDatabaseQuery, "Soft delete {{ $.Model }} error: "+err.Error())
        }
        return nil
    }

    // SQL Soft recover Query
    func (m *{{ $.Model }}) GetSoftRecoverQuery() string {
        return "UPDATE {{ $.Table }} SET {{ $column.Name }} = null WHERE {{ $index = 0 }}{{ range $key, $col := $.Columns }}{{ if $col.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $col.Name }} = ${{$index}}{{ end }}{{ end }} RETURNING {{ $column.Name }};"
    }

    // Soft Recover {{ $.Model }}
    func (m *{{ $.Model }}) SoftRecover(q godb.Queryer) porterr.IError {
        err := q.QueryRow(m.GetSoftRecoverQuery(), {{ $index = 0 }}{{ range $key, $col := $.Columns  }}{{ if $col.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $col.ModelName }}{{ end }}{{ end }}).Scan(&m.{{ $column.ModelName }})
        if err != nil {
            return porterr.New(porterr.PortErrorDatabaseQuery, "Soft recover {{ $.Model }} error: "+err.Error())
        }
        return nil
    }
{{ end }}{{ end }}

// SQL delete Query
func (m *{{ .Model }}) GetDeleteQuery() string {
    return "DELETE FROM {{ .Table }} WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{$index}}{{ end }}{{ end }};"
}

// Delete method
func (m *{{ .Model }}) Delete(q godb.Queryer) porterr.IError {
    _, err := q.Exec(m.GetDeleteQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }})
    if err != nil {
        return porterr.New(porterr.PortErrorDatabaseQuery, "Delete {{ .Model }} error: "+err.Error())
    }
    return nil
}

// SQL exists Query
func (m *{{ .Model }}) GetExistsQuery() string {
    return "SELECT EXISTS (SELECT 1 FROM {{ .Table }}) WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{$index}}{{ end }}{{ end }};"
}

// Exists method
func (m *{{ .Model }}) IsExists(q godb.Queryer) (exists bool, e porterr.IError) {
    err := q.QueryRow(m.GetExistsQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }}).Scan(&exists)
    if err != nil {
        return false, porterr.New(porterr.PortErrorDatabaseQuery, "If exists {{ .Model }} error: "+err.Error())
    }
    return
}

{{ if .HasSequence }}
    // Model saver method with sequence
    func (m *{{ .Model }}) Save(q godb.Queryer) (*{{ .Model }}, porterr.IError) {
        var err error
        if {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
            err = q.QueryRow(m.GetSaveQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if or (not (system $column)) $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ if $column.IsArray }}pq.Array({{ end }}&m.{{ $column.ModelName }}{{ if $column.IsArray }}){{ end }}{{ $index = inc $index }}{{ end}}{{ end}}).
            Scan({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}})
        } else {
            err = q.QueryRow(m.GetSaveQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ if $column.IsArray }}pq.Array({{ end }}&m.{{ $column.ModelName }}{{ if $column.IsArray  }}){{ end }}{{ $index = inc $index }}{{ end}}{{ end}}).
            Scan({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}})
        }
        if err != nil {
            return nil, porterr.New(porterr.PortErrorDatabaseQuery, "Save {{ .Model }} error: "+err.Error())
        }
        return m, nil
    }

    // SQL upsert Query
    func (m *{{ .Model }}) GetSaveQuery() string {
        if {{ $index := 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
            return `UPDATE {{ .Table }} SET {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ inc $key }}{{ end }}{{ end }}{{ range $key, $column := .Columns }}{{ if eq $column.Name "updated_at" }}, updated_at = NOW(){{ end }}{{ end }}
            WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ $index }}{{ end }}{{ end }}
            {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $column.Name }}{{ $index = inc $index }}{{ end}}{{ end}};`
        }
        return `INSERT INTO {{ .Table }} ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}}) VALUES ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}${{ $index }}{{ end }}{{ end }})
        {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}};`
    }

{{ else }}
    // Model saver method without sequence
    func (m *{{ .Model }}) Save(q godb.Queryer) (*{{ .Model }}, porterr.IError) {
        err := q.QueryRow(m.GetSaveQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if or (not (system $column)) $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ if $column.IsArray }}pq.Array({{ end }}&m.{{ $column.ModelName }}{{ if $column.IsArray  }}){{ end }}{{ $index = inc $index }}{{ end}}{{ end}}).
        Scan({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}})
        if err != nil {
            return nil, porterr.New(porterr.PortErrorDatabaseQuery, "Save {{ .Model }} error: "+err.Error())
        }
        return m, nil
    }

    // SQL upsert Query
    func (m *{{ .Model }}) GetSaveQuery() string {
        if {{ $index := 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
            return `UPDATE {{ .Table }} SET {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ inc $key }}{{ end }}{{ end }}{{ range $key, $column := .Columns }}{{ if eq $column.Name "updated_at" }}, updated_at = NOW(){{ end }}{{ end }}
            WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ $index }}{{ end }}{{ end }}
            {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $column.Name }}{{ $index = inc $index }}{{ end}}{{ end}};`
        }
        return `INSERT INTO {{ .Table }} ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}}) VALUES ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}${{ $index }}{{ end }}{{ end }})
        {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}};`
    }
{{ end }}