package models

import (
{{ range $key, $import := .Imports }}{{ $import }}
{{ end }}
)

// Collection of {{ .Model }}
type {{ .Model }}Collection []*{{ .Model }}

// Get first item of {{ .Model }} Collection
func (c {{ .Model }}Collection) First() *{{ .Model }} {
    if len(c) > 0 {
        return c[0]
    }
    return nil
}

// {{ .Model }} model
type {{ .Model }} struct { {{ range $key, $column := .Columns }}
    {{ $column.ModelName }} {{ $column.ModelType }} {{ $column.Json }} {{ if $column.Description }}// {{ $column.Description }}{{ end }}{{ end }}
}

// Model columns
func (m *{{ .Model }}) Columns() []string {
    return []string{ {{ range $key, $column := .Columns }}{{ if $key }}, {{ end }}"{{ $column.Name }}"{{ end }} }
}

// Model values
func (m *{{ .Model }}) Values() (values []interface{}) {
    return append(values, {{ range $key, $column := .Columns }}{{ if $key }}, {{ end }}{{ if $column.IsArray }}pq.Array({{ end }}&m.{{ $column.ModelName }}{{ if $column.IsArray  }}){{ end }}{{ end }})
}

// SQL load Query
func (m *{{ .Model }}) GetLoadQuery() string {
    return "SELECT " + strings.Join(m.Columns(), ",") + " FROM {{ .Table }} WHERE {{ $index := 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ $index }}{{ end }}{{ end }};"
}

// Load method
func (m *{{ .Model }}) Load(q godb.Queryer) (*{{ .Model }}, porterr.IError) {
    if {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
        err := q.QueryRow(m.GetLoadQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }}).Scan(m.Values()...)
        if err != nil {
            if err == sql.ErrNoRows {
                return nil, porterr.New(porterr.PortErrorSearch, "No {{ .Model }} found").HTTP(http.StatusNotFound)
            }
            return nil, porterr.New(porterr.PortErrorDatabaseQuery, "Load {{ .Model }} query error: "+err.Error())
        }
        return m, nil
    }
    return nil, porterr.New(porterr.PortErrorParam, "No primary key for {{ .Model }} specified, nothing for load").HTTP(http.StatusBadRequest)
}

{{ range $key, $column := .Columns }}{{ if $column.ForeignTable }}
    // Load Foreign Model {{ cameled $column.ForeignTable }}
    func (m *{{ $.Model }}) Get{{ cameled $column.ForeignTable }}(q godb.Queryer) (*{{ cameled $column.ForeignTable }}, porterr.IError) {
        return (&{{ cameled $column.ForeignTable }} { {{ cameled $column.ForeignColumnName}}:m.{{ $column.ModelName }} }).Load(q)
    }
{{ end }}{{ end }}

{{ range $key, $column := .Columns }}{{ if $column.IsDeleted }}
    // SQL Soft delete Query
    func (m *{{ .Model }}) GetSoftDeleteQuery() string {
        return "UPDATE {{ .Table }} SET {{ $column.Name }} = NOW() WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{$index}}{{ end }}{{ end }} RETURNING {{ $column.Name }};"
    }

    // Soft Delete {{ $.Model }}
    func (m *{{ $.Model }}) SoftDelete(q godb.Queryer) porterr.IError {
        _, err := q.QueryRow(m.GetSoftDeleteQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }}).Scan(&m.{{ $column.ModelName }})
        if err != nil {
            return porterr.New(porterr.PortErrorDatabaseQuery, "Soft delete {{ .Model }} error: "+err.Error())
        }
        return nil
    }
{{ end }}{{ end }}

// SQL delete Query
func (m *{{ .Model }}) GetDeleteQuery() string {
    return "DELETE FROM {{ .Table }} WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{$index}}{{ end }}{{ end }};"
}

// Delete method
func (m *{{ .Model }}) Delete(q godb.Queryer) porterr.IError {
    _, err := q.Exec(m.GetDeleteQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }})
    if err != nil {
        return porterr.New(porterr.PortErrorDatabaseQuery, "Delete {{ .Model }} error: "+err.Error())
    }
    return nil
}

// SQL exists Query
func (m *{{ .Model }}) GetExistsQuery() string {
    return "SELECT EXISTS (SELECT 1 FROM {{ .Table }}) WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{$index}}{{ end }}{{ end }};"
}

// Exists method
func (m *{{ .Model }}) IsExists(q godb.Queryer) (exists bool, e porterr.IError) {
    err := q.QueryRow(m.GetExistsQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}m.{{ $column.ModelName }}{{ end }}{{ end }}).Scan(&exists)
    if err != nil {
        return false, porterr.New(porterr.PortErrorDatabaseQuery, "If exists {{ .Model }} error: "+err.Error())
    }
    return
}

{{ if .HasSequence }}
    // Model saver method with sequence
    func (m *{{ .Model }}) Save(q godb.Queryer) (*{{ .Model }}, porterr.IError) {
        var err error
        if {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
            err = q.QueryRow(m.GetSaveQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if or (not (system $column)) $column.IsPrimaryKey }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}}).
            Scan({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}})
        } else {
            err = q.QueryRow(m.GetSaveQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}}).
            Scan({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}})
        }
        if err != nil {
            return nil, porterr.New(porterr.PortErrorDatabaseQuery, "Save {{ .Model }} error: "+err.Error())
        }
        return m, nil
    }

    // SQL upsert Query
    func (m *{{ .Model }}) GetSaveQuery() string {
        if {{ $index := 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
            return `UPDATE {{ .Table }} SET {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ inc $key }}{{ end }}{{ end }}{{ range $key, $column := .Columns }}{{ if eq $column.Name "updated_at" }}, updated_at = NOW(){{ end }}{{ end }}
            WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ $index }}{{ end }}{{ end }}
            {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $column.Name }}{{ $index = inc $index }}{{ end}}{{ end}};`
        }
        return `INSERT INTO {{ .Table }} ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}}) VALUES ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}${{ $index }}{{ end }}{{ end }})
        {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}};`
    }

{{ else }}
    // Model saver method without sequence
    func (m *{{ .Model }}) Save(q godb.Queryer) (*{{ .Model }}, porterr.IError) {
        err := q.QueryRow(m.GetSaveQuery(), {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if or (not (system $column)) $column.IsPrimaryKey }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}}).
        Scan({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if $index }}, {{ end }}&m.{{ $column.ModelName }}{{ $index = inc $index }}{{ end}}{{ end}})
        if err != nil {
            return nil, porterr.New(porterr.PortErrorDatabaseQuery, "Save {{ .Model }} error: "+err.Error())
        }
        return m, nil
    }

    // SQL upsert Query
    func (m *{{ .Model }}) GetSaveQuery() string {
        if {{ $index := 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} && {{ end }}{{ $index = inc $index }} m.{{ $column.ModelName }} != {{ if eq $column.ModelType "string" }}""{{ else }}0{{ end }}{{ end }}{{ end }} {
            return `UPDATE {{ .Table }} SET {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ inc $key }}{{ end }}{{ end }}{{ range $key, $column := .Columns }}{{ if eq $column.Name "updated_at" }}, updated_at = NOW(){{ end }}{{ end }}
            WHERE {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }} AND {{ end }}{{ $index = inc $index }}{{ $column.Name }} = ${{ $index }}{{ end }}{{ end }}
            {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $column.Name }}{{ $index = inc $index }}{{ end}}{{ end}};`
        }
        return `INSERT INTO {{ .Table }} ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}}) VALUES ({{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if not (system $column) }}{{ if $index }}, {{ end }}{{ $index = inc $index }}${{ $index }}{{ end }}{{ end }})
        {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if (system $column) }}{{ if eq $index 0 }}RETURNING {{ end }}{{ if $index }}, {{ end }}{{ $index = inc $index }}{{ $column.Name }}{{ end}}{{ end}};`
    }
{{ end }}

// Search by filter
func Search{{ .Model }}(q godb.Queryer, filter *godb.SqlFilter) ({{ .Model }}Collection, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}[]{{ $column.ModelType }}{{ end }}{{ end }}, porterr.IError) {
    query := fmt.Sprintf("SELECT " + strings.Join((&{{ .Model }}{}).Columns(), ",") + " FROM {{ .Table }} %s", filter.GetWithWhere())
    rows, err := q.Query(query, filter.GetArguments()...)
    {{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}
        entity{{ $column.ModelName }}s := make([]{{ $column.ModelType }}, 0){{ end }}{{ end }}
    if err != nil {
        return nil, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}entity{{ $column.ModelName }}s{{ end }}{{ end }}, porterr.New(porterr.PortErrorDatabaseQuery, "Search {{ .Model }} query error: "+err.Error())
    }
    defer rows.Close()
    var result {{ .Model }}Collection
    for rows.Next() {
        model := &{{ .Model }}{}
        err = rows.Scan(model.Values()...)
        if err != nil {
            return result, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}entity{{ $column.ModelName }}s{{ end }}{{ end }}, porterr.New(porterr.PortErrorIO, "Search {{ .Model }} scan error: "+err.Error())
        }
        {{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}
            entity{{ $column.ModelName }}s = append(entity{{ $column.ModelName }}s, model.{{ $column.ModelName}}){{ end }}{{ end }}
        result = append(result, model)
    }
    return result, {{ $index = 0 }}{{ range $key, $column := .Columns }}{{ if $column.IsPrimaryKey }}{{ if $index }}, {{ end }}{{ $index = inc $index }}entity{{ $column.ModelName }}s{{ end }}{{ end }}, nil
}